<% include header %>
<% include navBar %>

    <div class="container">
        <div class="row">
            <h1>Bérlések</h1>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-info" href="/rent/new">Új bérlés</a>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Bérlő</th>
                    <th scope="col">Kiadás dátuma</th>
                    <th scope="col">Várható visszaérkezés</th>
                    <th scope="col">Visszaérkezés</th>
                    <th scope="col">Eszközök száma</th>
                    <th scope="col">Visszajött?</th>
                    <th scope="col">Megtekintés</th>
                </tr>
                </thead>
                <tbody>
                <% data.forEach(function (rent) { %>
                    <tr>
                        <td><%= rent.renter_name %></td>
                        <td><%= rent.out_date %></td>
                        <td><%= rent.planned_back_date %></td>
                        <td><%= rent.actual_back_date %></td>
                        <td><%= rent.num_of_items %></td>
                        <td style="text-align: center"><i class="far <% if(typeof rent.actual_back_date !== 'undefined') {  %> fa-check-square green <%} else { %> fa-times-circle red <% } %>  "></i></td>
                        <td><a class="btn btn-info" href="/rent/view/<%= rent._id%>">Megtekintés</a></td>
                    </tr>
                <%  }); %>
                </tbody>
            </table>
        </div>
    </div>

<% include footer %>