<% include header %>
<% include navBar %>

    <div class="container my-4">
        <div class="row">
            <h1>Bérlés adatai <i class="far <% if(typeof data.actual_back_date !== 'undefined') {  %> fa-check-square green <%} else { %> fa-times-circle red <% } %>"></i></h1>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="renter">Bérlő</label>
                <input type="name" class="form-control mr-sm-2" id="renter" value="<%= data.renter_name %>" disabled>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="renter_email">Bérlő e-mail címe</label>
                <input type="email" class="form-control mr-sm-2" id="renter_email" value="<%= data.renter_email %>" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label>Bérelt eszközök:</label>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Eszköz neve</th>
                        <th scope="col">Érték/db</th>
                        <th scope="col">Bérelt mennyiség(db)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% data.devices.forEach(function (device) { %>
                            <tr>
                                <th scope="col"><%= device['name'] %></th>
                                <td scope="col"><%= device['value'] %> Ft</td>
                                <td scope="col"><input class="form-control" type="number" placeholder="<%= device['rentQt'] %>" aria-label="quantity" disabled></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="renter">Kiadás időpontja:</label>
                <input type="text" class="form-control" id="bringBackDate" placeholder="<%= data.out_date %>" disabled>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="renter">Visszavételezés várható időpontja:</label>
                <input type="text" class="form-control" id="bringBackDate" placeholder="<%= data.planned_back_date %>" disabled>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>A bérlés összértéke: </label>
                <input type="text" class="form-control" id="sumPrice" placeholder="<%= data.total_value %> Ft" disabled>
            </div>
        </div>

        <div class="form-row form-inline">
            <a class="btn btn-info mr-sm-2" href="/rent/list">OK</a>
            <a class="btn btn-outline-warning my-2" href="/rent/back/<%= data.id %>">Visszavétel</a>
        </div>
    </div>

<% include footer %>>